.header {
    height: 100px;
    background-color: blue;
    padding: 10px;
}

.headerMobile {
    /* min-height: 100px; */
    background-color: green;
    padding: 10px;
}

.nav {
    height: 150px;
}

.ulMenu {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    gap: 10px;
    color: #fff;
}

.ulMenu,
.ulSubMenu {
    list-style-type: none;
}

.ulSubMenu {
    font-size: 0.7em;
    padding-left: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease-in-out;
}

.liMenu:hover>.ulSubMenu {
    max-height: 100vh;
}

@media (max-width:600px) {
    .header {
        display: none;
    }
    .btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

@media (min-width:601px) {
    .headerMobile {
        display: none;
    }
}